.intro{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/header.png");
  min-height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto 0;
}